.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px
    }
.middle-container{
    
    }
.buttom-container{
   
}
body {
    margin: 0px;
   text-align: center;
   font-family:'Merriweather', serif;
}
.font{
    margin: 0px;
    font-family: 'Sacramento',cursive;
    font-size: 50px;
    color: #66BFBF;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
    
    
}
.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.profile-picture{
    border-radius: 50%;
    width: 200px;
}
.skills-pic{
    width: 25%;
}
.skill-pic{
    width: 25%;
}
h2{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
.programmer{
    font-weight: normal;
    font-family: Arial;
    color: #66BFBF;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

